[submodule "home/.vim/bundle/snipmate.vim"]
	path = home/.vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/YankRing.vim"]
	path = home/.vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-perl"]
	path = home/.vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "home/.vim/bundle/Color-Sampler-Pack"]
	path = home/.vim/bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "home/.vim/bundle/ScrollColors"]
	path = home/.vim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "home/.vim/bundle/SunburstVIM"]
	path = home/.vim/bundle/SunburstVIM
	url = https://github.com/tangphillip/SunburstVIM.git
[submodule "home/.vim/bundle/moose-syntax.vim"]
	path = home/.vim/bundle/moose-syntax.vim
	url = https://github.com/c9s/moose-syntax.vim.git
[submodule "home/.vim/bundle/FuzzyFinder"]
	path = home/.vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/fuzzyfinder_textmate"]
	path = home/.vim/bundle/fuzzyfinder_textmate
	url = http://github.com/viperinthought/fuzzyfinder_textmate
[submodule "home/.vim/bundle/L9"]
	path = home/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
