[user]
	name = Chris Prather
	email = chris@prather.org
[core]
	editor = vim
[color]
	ui = auto
[pack]
	threads = 0
[push]
	default = current
[alias]
	co = checkout
	ls = branch -l
    sync = "!git stash; git pull; git stash pop"
    assume = "update-index --assume-unchanged"
    unassume = "update-index --no-assume-unchanged"
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

