[user]
	name = Chris Prather
	email = chris@prather.org
[core]
	editor = vim
[color]
	ui = auto
[pack]
	threads = 0
[push]
	default = current
[alias]
	co = checkout
	ls = branch -l
    sync = "!git stash; git pull; git stash pop"
    assume = "update-index --assume-unchanged"
    unassume = "update-index --no-assume-unchanged"
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
    report = "log --author=chris@prather.org --format='%Cgreen%ci%Creset %s%Creset' --no-merges --all --since='yesterday'"
[github]
	user = perigrin
[protocol "keybase"]
	allow = always
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = pu
