[user]
	name = Chris Prather
	email = chris@prather.org
[core]
	editor = vim
[color]
	ui = auto
[pack]
	threads = 0
[push]
	default = current
[alias]
	co = checkout
	ls = branch -l
    sync = "!git stash; git pull; git stash pop"
    push = "!update_ssh_agent; git-push"
    pull = "!update_ssh_agent; git-pull"
    assume = "update-index --assume-unchanged"
    unassume = "update-index --no-assume-unchanged"
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
[github]
	pr-token = 6a37e79a9a715cc39a1f5fa73bafac9be5b10409
